* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

@import "normalize";

html {
    font-size: var(--font-size);
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    background-color: var(--body-background-color);
    color: var(--body-text-color);
}
